In [1]:
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number
%matplotlib inline

In [25]:
months = ['april','febrouary','march']
files = ['\listings.csv','\listings0.csv']
# inputPath= r"C:\Users\myrto\Desktop\data\april"
inputPath= r"C:\Users\nikol\Desktop\dataMining_p1\data\data\april"
columnlist = ['id','zipcode','transit','bedrooms','beds','review_scores_rating','number_of_reviews','neighbourhood','name','latitude','longitude','last_review','instant_bookable','host_since','host_response_rate','host_identity_verified','host_has_profile_pic','first_review','description','city','cancellation_policy','bed_type','bathrooms','accommodates','amenities','room_type','property_type','price','availability_365','minimum_nights','host_id']

framelist = []

for file in files:
    tempfile = pd.read_csv(inputPath+file)
    tempframe = pd.DataFrame(data=tempfile)
    framelist.append(tempframe)

length = len(framelist)-1

for l in range(0,length):
    #train = framelist[0].merge(framelist[l+1],left_on='id',right_on='id')
    train = framelist[0].combine_first(framelist[l+1])

df = pd.DataFrame(data = train, columns=columnlist)

normalValues = []
for pr in df['price']:
    temp = pr.lstrip('$')
    temp = temp.replace(',','')
    # print(temp)
    temp = float(temp)
    # print(temp)
    normalValues.append(temp)
df['price'] = normalValues

# df.to_csv("train.csv");

# df['accomodates']
# df
#train = pd.DataFrame(data=train)
#train

In [26]:
# 1
df['room_type'].value_counts().head(1)

Entire home/apt    8510
Name: room_type, dtype: int64

In [238]:
# 2
# df.plot(kind='line',x='host_since',y='price')

In [27]:
# 3

temp = df[['id','neighbourhood']]
# reviews = r'C:\Users\myrto\Desktop\data\april\reviews.csv'
# reviews0 = r'C:\Users\myrto\Desktop\data\april\reviews0.csv'
reviews = r'C:\Users\nikol\Desktop\dataMining_p1\data\data\april\reviews.csv'
reviews0 = r'C:\Users\nikol\Desktop\dataMining_p1\data\data\april\reviews0.csv'
reviews = pd.read_csv(reviews)
reviews0 = pd.read_csv(reviews0)
reviews = pd.DataFrame(data=reviews)
reviews0 = pd.DataFrame(data=reviews0)
reviews = reviews.combine_first(reviews0)
reviews = reviews[['id','comments']]
#reviews
temp = temp.combine_first(reviews)
temp = temp[['neighbourhood','comments']].groupby('neighbourhood',as_index=False).count()
temp = temp.sort_values(['comments'],ascending=False)
temp.head(5).style.hide_index()

In [23]:
#4
# df.groupby(by='neighbourhood',as_index=False).agg({'host_id':'sum'})
df.groupby(by='neighbourhood',as_index=False).agg({'host_id':'nunique'}).sort_values(['host_id'],ascending=False,ignore_index=True).head(1).style.hide_index()

# ['host_id'].nunique(5)
# df.groupby(['neighbourhood'])['host_id'].nunique()
# df.neighbourhood.value_counts()
# df.groupby(['neighbourhood'])['host_id'].transform('nunique')

In [241]:
#5

In [242]:
#6

In [28]:
#7

temp = df[['room_type','neighbourhood']]
temp = temp.groupby(['neighbourhood','room_type']).size().sort_values(ascending=False)
#temp.to_csv("new.csv")

temp

neighbourhood                     room_type
Plaka                             Entire home/apt    1021
Neos Kosmos                       Entire home/apt     747
Koukaki                           Entire home/apt     733
Kolonaki                          Entire home/apt     573
Pangrati                          Entire home/apt     552
                                                     ...
Profitis Daniil                   Shared room           1
ΑΓΙΟΣ ΚΩΝΣΤΑΝΤΙΝΟΣ-ΠΛΑΤΕΙΑ ΒΑΘΗΣ  Entire home/apt       1
ΕΜΠΟΡΙΚΟ ΤΡΙΓΩΝΟ-ΠΛΑΚΑ            Private room          1
Agios Loukas                      Shared room           1
ΜΟΥΣΕΙΟ-ΕΞΑΡΧΕΙΑ-ΝΕΑΠΟΛΗ          Entire home/apt       1
Length: 85, dtype: int64

In [29]:
# 8

# df['price']
# df.replace(to_replace='price')
# print(len(normalValues))
# df.groupby(by='room_type',as_index=False)['price'].sum()
df.groupby(by='room_type',as_index=False).agg({'price':'mean'}).sort_values(['price'],ascending=False,ignore_index=True).style.hide_index()
# pd.Series(df['price'].sum(),index=['price'])