In [2]:
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number
%matplotlib inline

In [7]:
inputPath= r"C:\Users\nikol\Desktop\dataMining_p1\data\data\april"
files = ['\listings.csv','\listings0.csv','\calendar.csv','\\reviews.csv','\\reviews0.csv','\\neighbourhoods.csv']

framelist = []
index = 0
# for file in files:
tempfile = pd.read_csv(inputPath+files[index])
tempframe = pd.DataFrame(data=tempfile)
framelist.append(tempframe)
# tempframe.head(2)
for col in tempframe.columns:
    print(col)

id
listing_url
scrape_id
last_scraped
name
summary
space
description
experiences_offered
neighborhood_overview
notes
transit
access
interaction
house_rules
thumbnail_url
medium_url
picture_url
xl_picture_url
host_id
host_url
host_name
host_since
host_location
host_about
host_response_time
host_response_rate
host_acceptance_rate
host_is_superhost
host_thumbnail_url
host_picture_url
host_neighbourhood
host_listings_count
host_total_listings_count
host_verifications
host_has_profile_pic
host_identity_verified
street
neighbourhood
neighbourhood_cleansed
neighbourhood_group_cleansed
city
state
zipcode
market
smart_location
country_code
country
latitude
longitude
is_location_exact
property_type
room_type
accommodates
bathrooms
bedrooms
beds
bed_type
amenities
square_feet
price
weekly_price
monthly_price
security_deposit
cleaning_fee
guests_included
extra_people
minimum_nights
maximum_nights
minimum_minimum_nights
maximum_minimum_nights
minimum_maximum_nights
maximum_maximum_nights
minimum_nights_avg_ntm
maximum_nights_avg_ntm
calendar_updated
has_availability
availability_30
availability_60
availability_90
availability_365
calendar_last_scraped
number_of_reviews
number_of_reviews_ltm
first_review
last_review
review_scores_rating
review_scores_accuracy
review_scores_cleanliness
review_scores_checkin
review_scores_communication
review_scores_location
review_scores_value
requires_license
license
jurisdiction_names
instant_bookable
is_business_travel_ready
cancellation_policy
require_guest_profile_picture
require_guest_phone_verification
calculated_host_listings_count
calculated_host_listings_count_entire_homes
calculated_host_listings_count_private_rooms
calculated_host_listings_count_shared_rooms
reviews_per_month

In [8]:
inputPath= r"C:\Users\nikol\Desktop\dataMining_p1\data\data\april"
files = ['\listings.csv','\listings0.csv','\calendar.csv','\\reviews.csv','\\reviews0.csv']

framelist = []
index = 1
# for file in files:
tempfile = pd.read_csv(inputPath+files[index])
tempframe = pd.DataFrame(data=tempfile)
framelist.append(tempframe)
# tempframe.head(2)
for col in tempframe.columns:
    print(col)

id
name
host_id
host_name
neighbourhood_group
neighbourhood
latitude
longitude
room_type
price
minimum_nights
number_of_reviews
last_review
reviews_per_month
calculated_host_listings_count
availability_365

In [11]:
inputPath= r"C:\Users\nikol\Desktop\dataMining_p1\data\data\april"
files = ['\listings.csv','\listings0.csv','\calendar.csv','\\reviews.csv','\\reviews0.csv']

framelist = []
index = 2
# for file in files:
tempfile = pd.read_csv(inputPath+files[index])
tempframe = pd.DataFrame(data=tempfile)
framelist.append(tempframe)
# tempframe.head(2)
for col in tempframe.columns:
    print(col)

listing_id
date
available
price
adjusted_price
minimum_nights
maximum_nights

In [5]:
inputPath= r"C:\Users\nikol\Desktop\dataMining_p1\data\data\march"
files = ['\listings.csv','\listings0.csv','\calendar.csv','\\reviews.csv','\\reviews0.csv','\\neighbourhoods.csv','\\train.csv']

framelist = []
index = 2
# for file in files:
tempfile = pd.read_csv(inputPath+files[index])
tempframe = pd.DataFrame(data=tempfile)
framelist.append(tempframe)
tempframe
# for col in tempframe.columns:
#     print(col)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,10595,2019-03-11,f,$65.00,$65.00,1,45
1,10595,2019-03-12,f,$65.00,$65.00,1,45
2,10595,2019-03-13,t,$65.00,$65.00,1,45
3,496561,2019-03-11,t,$80.00,$80.00,1,1125
4,496561,2019-03-12,t,$80.00,$80.00,1,1125
5,496561,2019-03-13,t,$80.00,$80.00,1,1125
6,496561,2019-03-14,t,$80.00,$80.00,1,1125
7,10595,2019-03-14,t,$65.00,$65.00,1,45
8,10595,2019-03-15,t,$65.00,$65.00,2,45
9,10595,2019-03-16,t,$65.00,$65.00,2,45
10,10595,2019-03-17,t,$65.00,$65.00,2,45
11,10595,2019-03-18,f,$65.00,$65.00,1,45
12,10595,2019-03-19,f,$65.00,$65.00,1,45
13,10595,2019-03-20,t,$65.00,$65.00,1,45
14,10595,2019-03-21,t,$65.00,$65.00,1,45
15,10595,2019-03-22,t,$65.00,$65.00,2,45
16,10595,2019-03-23,t,$65.00,$65.00,2,45
17,10595,2019-03-24,t,$65.00,$65.00,2,45
18,10595,2019-03-25,t,$65.00,$65.00,1,45
19,10595,2019-03-26,t,$65.00,$65.00,1,45
20,10595,2019-03-27,t,$65.00,$65.00,1,45
21,10595,2019-03-28,t,$65.00,$65.00,1,45
22,10595,2019-03-29,t,$65.00,$65.00,2,45
23,10595,2019-03-30,t,$65.00,$65.00,2,45
24,10595,2019-03-31,t,$65.00,$65.00,2,45
25,10595,2019-04-01,t,$65.00,$65.00,1,45
26,10595,2019-04-02,t,$65.00,$65.00,1,45
27,10595,2019-04-03,t,$65.00,$65.00,1,45
28,10595,2019-04-04,t,$65.00,$65.00,1,45
29,10595,2019-04-05,f,$65.00,$65.00,1,45
30,10595,2019-04-06,f,$65.00,$65.00,1,45
31,10595,2019-04-07,f,$65.00,$65.00,1,45
32,10595,2019-04-08,t,$65.00,$65.00,1,45
33,10595,2019-04-09,t,$65.00,$65.00,1,45
34,10595,2019-04-10,t,$65.00,$65.00,1,45
35,10595,2019-04-11,f,$65.00,$65.00,1,45
36,10595,2019-04-12,f,$65.00,$65.00,1,45
37,10595,2019-04-13,f,$65.00,$65.00,1,45
38,10595,2019-04-14,t,$65.00,$65.00,2,45
39,10595,2019-04-15,t,$65.00,$65.00,2,45
40,10595,2019-04-16,t,$65.00,$65.00,2,45
41,496561,2019-03-15,t,$80.00,$80.00,1,1125
42,496561,2019-03-16,t,$80.00,$80.00,1,1125
43,496561,2019-03-17,t,$80.00,$80.00,1,1125
44,496561,2019-03-18,t,$80.00,$80.00,1,1125
45,496561,2019-03-19,t,$80.00,$80.00,1,1125
46,496561,2019-03-20,t,$80.00,$80.00,1,1125
47,496561,2019-03-21,t,$80.00,$80.00,1,1125
48,496561,2019-03-22,t,$80.00,$80.00,1,1125
49,496561,2019-03-23,t,$80.00,$80.00,1,1125

In [4]:
inputPath= r"C:\Users\nikol\Desktop\Project-1-DataMining-"
files = ['\\train.csv']

framelist = []
index = 0
# for file in files:
tempfile = pd.read_csv(inputPath+files[index])
tempframe = pd.DataFrame(data=tempfile)
framelist.append(tempframe)
tempframe
# type(tempframe['beds'][0])
# for col in tempframe.columns:
#     print(col)

,id,zipcode,transit,bedrooms,beds,review_scores_rating,number_of_reviews,neighbourhood,name,latitude,...,bathrooms,accommodates,amenities,room_type,property_type,price,availability_365,minimum_nights,host_id,month_id
0,10595,11526,Note: 5-day ticket for all the public transpor...,3.0,5.0,97.0,19,Ambelokipi,"96m2, 3BR, 2BA, Metro, WI-FI etc...",37.98888,...,2.0,8,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",Entire home/apt,Apartment,73.0,222,1,37177,april
1,10988,11526,Note: 5-day ticket for all the public transpor...,2.0,2.0,92.0,31,Ambelokipi,"75m2, 2-br, metro, wi-fi, cable TV",37.98843,...,1.0,5,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",Entire home/apt,Apartment,82.0,0,1,37177,april
2,10990,11526,Note: 5-day ticket for all the public transpor...,1.0,1.0,97.0,29,Ambelokipi,"50m2, Metro, WI-FI, cableTV, more",37.98783,...,1.0,4,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",Entire home/apt,Apartment,49.0,234,1,37177,april
3,10993,115 26,Note: 5-day ticket for all the public transpor...,0.0,1.0,96.0,45,Ambelokipi,"Studio, metro, cable tv, wi-fi, etc",37.98861,...,1.0,2,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",Entire home/apt,Apartment,38.0,226,1,37177,april
4,10995,11526,Note: 5-day ticket for all the public transpor...,1.0,1.0,95.0,17,Ambelokipi,"47m2, close to metro,cable TV,wi-fi",37.98950,...,1.0,4,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",Entire home/apt,Apartment,49.0,249,2,37177,april
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28978,33819692,105 56,NaN,1.0,1.0,NaN,0,NaN,Lysicrates Monument - Athens 33,37.97412,...,1.0,2,"{TV,Wifi,""Air conditioning"",Kitchen,Breakfast,...",Entire home/apt,Apartment,90.0,260,2,15316457,march
28979,33820145,106 81,Omonia metro station is 600 m away from the ap...,2.0,2.0,NaN,0,NaN,Bright and Stylish Exarchia apartment,37.98527,...,2.0,6,"{TV,Wifi,""Air conditioning"",Kitchen,Elevator,H...",Entire home/apt,Apartment,50.0,263,2,255343893,march
28980,33821757,105 54,NaN,2.0,2.0,NaN,0,NaN,Athens21,37.97698,...,1.0,4,"{TV,Wifi,""Air conditioning"",Breakfast,Elevator...",Private room,Boutique hotel,200.0,86,1,255355237,march
28981,33821833,105 56,NaN,1.0,1.0,NaN,0,NaN,Tower of Winds,37.97402,...,1.0,2,"{TV,Wifi,""Air conditioning"",Kitchen,Breakfast,...",Entire home/apt,Apartment,90.0,260,2,15316457,march
28982,33822443,116 33,NaN,1.0,2.0,NaN,0,NaN,Beautiful and modern Pagkrati Apartment,37.96507,...,1.0,4,"{TV,Wifi,""Air conditioning"",Kitchen,Elevator,H...",Entire home/apt,Apartment,80.0,363,2,255359259,march

In [ ]:

# df.isnull.sum(axis=0)
# count_nan = len(df)-df.count()
# print(count_nan)
# print('------')
# temp = len(df)
# print(temp)
# df.drop_duplicates()
# temp = len(df)
# print(temp)

# df.isnull.sum(axis=0)

# df['accomodates']
# df

#train = pd.DataFrame(data=train)
#train