In [1]:
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number
%matplotlib inline

In [7]:
inputPath= r"C:\Users\nikol\Desktop\dataMining_p1\data\data\april"
files = ['\listings.csv','\listings0.csv','\calendar.csv','\\reviews.csv','\\reviews0.csv','\\neighbourhoods.csv']

framelist = []
index = 0
# for file in files:
tempfile = pd.read_csv(inputPath+files[index])
tempframe = pd.DataFrame(data=tempfile)
framelist.append(tempframe)
# tempframe.head(2)
for col in tempframe.columns:
    print(col)

id
listing_url
scrape_id
last_scraped
name
summary
space
description
experiences_offered
neighborhood_overview
notes
transit
access
interaction
house_rules
thumbnail_url
medium_url
picture_url
xl_picture_url
host_id
host_url
host_name
host_since
host_location
host_about
host_response_time
host_response_rate
host_acceptance_rate
host_is_superhost
host_thumbnail_url
host_picture_url
host_neighbourhood
host_listings_count
host_total_listings_count
host_verifications
host_has_profile_pic
host_identity_verified
street
neighbourhood
neighbourhood_cleansed
neighbourhood_group_cleansed
city
state
zipcode
market
smart_location
country_code
country
latitude
longitude
is_location_exact
property_type
room_type
accommodates
bathrooms
bedrooms
beds
bed_type
amenities
square_feet
price
weekly_price
monthly_price
security_deposit
cleaning_fee
guests_included
extra_people
minimum_nights
maximum_nights
minimum_minimum_nights
maximum_minimum_nights
minimum_maximum_nights
maximum_maximum_nights
minimum_nights_avg_ntm
maximum_nights_avg_ntm
calendar_updated
has_availability
availability_30
availability_60
availability_90
availability_365
calendar_last_scraped
number_of_reviews
number_of_reviews_ltm
first_review
last_review
review_scores_rating
review_scores_accuracy
review_scores_cleanliness
review_scores_checkin
review_scores_communication
review_scores_location
review_scores_value
requires_license
license
jurisdiction_names
instant_bookable
is_business_travel_ready
cancellation_policy
require_guest_profile_picture
require_guest_phone_verification
calculated_host_listings_count
calculated_host_listings_count_entire_homes
calculated_host_listings_count_private_rooms
calculated_host_listings_count_shared_rooms
reviews_per_month

In [8]:
inputPath= r"C:\Users\nikol\Desktop\dataMining_p1\data\data\april"
files = ['\listings.csv','\listings0.csv','\calendar.csv','\\reviews.csv','\\reviews0.csv']

framelist = []
index = 1
# for file in files:
tempfile = pd.read_csv(inputPath+files[index])
tempframe = pd.DataFrame(data=tempfile)
framelist.append(tempframe)
# tempframe.head(2)
for col in tempframe.columns:
    print(col)

id
name
host_id
host_name
neighbourhood_group
neighbourhood
latitude
longitude
room_type
price
minimum_nights
number_of_reviews
last_review
reviews_per_month
calculated_host_listings_count
availability_365

In [11]:
inputPath= r"C:\Users\nikol\Desktop\dataMining_p1\data\data\april"
files = ['\listings.csv','\listings0.csv','\calendar.csv','\\reviews.csv','\\reviews0.csv']

framelist = []
index = 2
# for file in files:
tempfile = pd.read_csv(inputPath+files[index])
tempframe = pd.DataFrame(data=tempfile)
framelist.append(tempframe)
# tempframe.head(2)
for col in tempframe.columns:
    print(col)

listing_id
date
available
price
adjusted_price
minimum_nights
maximum_nights

In [13]:
inputPath= r"C:\Users\nikol\Desktop\dataMining_p1\data\data\april"
files = ['\listings.csv','\listings0.csv','\calendar.csv','\\reviews.csv','\\reviews0.csv','\\neighbourhoods.csv']

framelist = []
index = 5
# for file in files:
tempfile = pd.read_csv(inputPath+files[index])
tempframe = pd.DataFrame(data=tempfile)
framelist.append(tempframe)
tempframe.head(50)
# for col in tempframe.columns:
#     print(col)

    neighbourhood_group                     neighbourhood
0                   NaN                    1Ο ΝΕΚΡΟΤΑΦΕΙΟ
1                   NaN                  ΑΓΙΟΣ ΕΛΕΥΘΕΡΙΟΣ
2                   NaN  ΑΓΙΟΣ ΚΩΝΣΤΑΝΤΙΝΟΣ-ΠΛΑΤΕΙΑ ΒΑΘΗΣ
3                   NaN                    ΑΓΙΟΣ ΝΙΚΟΛΑΟΣ
4                   NaN                 ΑΚΑΔΗΜΙΑ ΠΛΑΤΩΝΟΣ
5                   NaN                          ΑΚΡΟΠΟΛΗ
6                   NaN                       ΑΜΠΕΛΟΚΗΠΟΙ
7                   NaN                        ΑΝΩ ΚΥΨΕΛΗ
8                   NaN                       ΑΝΩ ΠΑΤΗΣΙΑ
9                   NaN                         ΒΟΤΑΝΙΚΟΣ
10                  NaN                             ΓΚΑΖΙ
11                  NaN                             ΓΚΥΖΗ
12                  NaN                             ΓΟΥΒΑ
13                  NaN                             ΓΟΥΔΙ
14                  NaN                       ΕΛΛΗΝΟΡΩΣΩΝ
15                  NaN            ΕΜΠΟΡΙΚΟ ΤΡΙΓΩΝΟ-ΠΛΑΚΑ
16                  NaN                           ΖΑΠΠΕΙΟ
17                  NaN                            ΘΗΣΕΙΟ
18                  NaN                            ΙΛΙΣΙΑ
19                  NaN                        ΚΕΡΑΜΕΙΚΟΣ
20                  NaN                        ΚΟΛΟΚΥΝΘΟΥ
21                  NaN                          ΚΟΛΩΝΑΚΙ
22                  NaN                           ΚΟΛΩΝΟΣ
23                  NaN               ΚΟΥΚΑΚΙ-ΜΑΚΡΥΓΙΑΝΝΗ
24                  NaN                            ΚΥΨΕΛΗ
25                  NaN                        ΛΥΚΑΒΗΤΤΟΣ
26                  NaN          ΜΟΥΣΕΙΟ-ΕΞΑΡΧΕΙΑ-ΝΕΑΠΟΛΗ
27                  NaN                        ΝΕΑ ΚΥΨΕΛΗ
28                  NaN                       ΝΕΟΣ ΚΟΣΜΟΣ
29                  NaN                           ΝΙΡΒΑΝΑ
30                  NaN                          ΠΑΓΚΡΑΤΙ
31                  NaN                           ΠΑΤΗΣΙΑ
32                  NaN                       ΠΕΔΙΟ ΑΡΕΩΣ
33                  NaN                         ΠΕΝΤΑΓΩΝΟ
34                  NaN                         ΠΕΤΡΑΛΩΝΑ
35                  NaN                  ΠΛΑΤΕΙΑ ΑΜΕΡΙΚΗΣ
36                  NaN                   ΠΛΑΤΕΙΑ ΑΤΤΙΚΗΣ
37                  NaN                          ΠΟΛΥΓΩΝΟ
38                  NaN                          ΠΡΟΜΠΟΝΑ
39                  NaN                          ΡΗΓΙΛΛΗΣ
40                  NaN                         ΡΙΖΟΥΠΟΛΗ
41                  NaN                              ΡΟΥΦ
42                  NaN                           ΣΕΠΟΛΙΑ
43                  NaN                            ΣΤΑΔΙΟ
44                  NaN                   ΣΤΑΘΜΟΣ ΛΑΡΙΣΗΣ